@import url('//d2wd18kp3k18ix.cloudfront.net/default-fonts/source-sans.css');


:root {
  --color-blue: #00c2db;
  --color-blue-95: #01444d;
  --color-blue-98: #00353c;

  --ifm-font-family-base: 'Source Sans 3 VF';
  --ifm-color-content: var(--color-blue-95);
  --ifm-heading-color: var(--color-blue-98);

  --ifm-color-primary: #00c2db;
  --ifm-color-primary-dark: #00afc5;
  --ifm-color-primary-darker: #00a5ba;
  --ifm-color-primary-darkest: #008899;
  --ifm-color-primary-light: #00d5f1;
  --ifm-color-primary-lighter: #00dffc;
  --ifm-color-primary-lightest: #1ee5ff;

  --ifm-font-weight-bold: 600;
}
.hero__title {
  color: var(--ifm-font-color-base-inverse);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00c2db;
  --ifm-color-primary-dark: #00afc5;
  --ifm-color-primary-darker: #00a5ba;
  --ifm-color-primary-darkest: #008899;
  --ifm-color-primary-light: #00d5f1;
  --ifm-color-primary-lighter: #00dffc;
  --ifm-color-primary-lightest: #1ee5ff;

  --ifm-color-content: #ddd;
  --ifm-heading-color: #fff;
  .hero--primary {
    --ifm-hero-background-color: var(--ifm-color-primary-darkest); /*var(--ifm-color-primary);*/
    --ifm-hero-text-color: var(--ifm-color-primary-lightest): /* var(--ifm-font-color-base-inverse);*/
  }
}
